.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  min-height: 40px;
  height: auto;

  background: #0E153C;

  box-shadow: 0 0 15px #7a7a7a;
  z-index: 10;
}

.header a{
  text-decoration: none;
}


.navegacao ul{
  list-style: none;
  display: flex;
  gap: 50px;
}

.navegacao{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 50px;
}


.menu_opcoes li:hover{
  transform: scale(1.1);
}

.logo a,
.menu_opcoes li a{
  color: #ffffff;
  font-weight: bold;
  transition: .5s;
}

.logo a:hover,
.menu_opcoes li a:hover{
  color: #838485;
  transform: scale(.5);
  filter: brightness(1.1);
  border-bottom: 1px solid #eeeeee;
}

.disabled{
  animation: menuClosed forwards 1s;
  visibility: hidden;
  display: none;
}

.menuActive{
  animation: menuOpened forwards 1s;
  display: block;
  visibility: visible;
}

@keyframes menuOpened {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes menuClosed {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@media (max-width: 670px) {
  .navegacao ul{

    gap: 25px;
  }

  .navegacao{
    display: flex;
    justify-content: flex-end;

  }

  .logo{
    display: none;
  }
}

@media (max-width: 480px) {
  .navegacao ul{
    flex-direction: column-reverse;
    gap: 5px;
  }
}
