.formulario{
  margin: 20px 0 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background: linear-gradient(315deg,#b9b7e6,#6c63ff, #6c63ff, #6c63ff);
  border-radius: 20px;
  height: 320px;
  width: 300px;
  box-shadow: 0 0 20px #838485;
}
.formulario span{
  display: inline-block;
  width: 220px;

  text-align: center;
  color: #d6d6d6;
  font-weight: bold;
  font-size: 18px;

}
.grupo_formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grupo_formulario input {
  border: none;
  outline: none;
  background: transparent;

  border-bottom: 1.5px solid #ccc;

  padding: 5px 0;
  width: 220px;
  transition: border-color .3s;
}

.grupo_formulario input::placeholder{
  color: #d6d6d6;
  transition: color .3s;
  background: transparent;

}

.grupo_formulario input:hover::placeholder{
  color: #0e153c;
}

.grupo_formulario input:focus .grupo_formulario input::placeholder,
.grupo_formulario input:hover,
.grupo_formulario input:focus{
  border-color: #132794;
  color: #0e153c;
}

.grupo_formulario span{
  color: #d6d6d6;
  font-style: italic;
}

