.overlay{
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modal_container{
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: auto;
  height: auto;
  z-index: 10000;
}
