
.card{
  width: 150px;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 25px;

  box-shadow: 1px 1px 10px #838485;
  transition: transform .3s;
}

.card:hover{
  transform: scale(.9);
}
