*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #d8d8d8;
}

.inputText{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputText > button{
  outline: none;
  height: 20px;
  width: 78px;
  padding: 0 10px;
  border: none;
  border-radius:10px;
  cursor: pointer;
  background: rgb(65, 2, 148);
  color: #ffff;
  font-weight: bold;
}

.inputText > button:disabled{
  background: #ccc;
}


.inputText > input{
  padding: 8px;
  outline: none;
  width: 180px;
  height: 20px;
  border: none;
  opacity: .9;
  margin-right: 10px;
  border-radius:10px;
  background: rgb(236, 235, 235);
}

.pessoa{
  box-shadow: 0 0 10px rgb(122, 122, 122);
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  background: rgb(236, 235, 235);
  transition: background .3s, box-shadow .3s;
}

.pessoa:hover{
  background: rgba(236, 235, 235, .7);
  box-shadow: 0 0 10px rgba(236, 235, 235, .7);
}

.pessoa > h2{
  cursor: pointer;
}

.pessoa > span{
  cursor: pointer;
  transition: transform .3s;
  display: inline-block;
}

.pessoa > span:hover{
  transform: scale(1.1);
}

