
.viagens{
  width: 100%;
  margin: -50px 0 10px 0;
}

.planejamento{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.planejamento img{
  max-width: 400px;
  width: auto;
  filter: drop-shadow(0px 0px 5px #838485);
}

.cartao_planejamento{
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 250px;
  padding: 30px;

  box-shadow: 0 0 30px #838485;
  border-radius: 25px;
}

.cartao_planejamento h4{
  text-align: left;
}

@media (max-width: 870px) {
  .planejamento{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 670px) {
  .planejamento img{
    width: 80%;
  }
}
